<!DOCTYPE html>
<html>
    <head>
        <title>
            yelpcamp
        </title>
        <link rel="stylesheet" type=""  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
      </head>
    <body>

            <nav id="mainNavbar" class="navbar navbar-dark bg-dark navbar-expand-md py-0 fixed-top">
                    <a href="/" class="navbar-brand">Willong</a>
                   <!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation"></button> -->
                   <span class="navbar-toggler-icon"></span>
                  <div class="collapse navbar-collapse" id="navLinks">
                    <ul class="nav navbar-nav">
                      <% if(!currentUser) { %>
                      <li class="nav-items">
                        <a href="/login" >Login</a>
                      </li>
                      <li class="nav-items">
                         <a href="/register" >Sign up</a>
                       </li>
                       <% } else { %>
                        <li><a href="#">Signed In as <%= currentUser.username %></a></li>
                       <li class="nav-items">
                           <a href="/logout">Logout</a>
                         </li>
                       <% } %>
                    </ul>
                  </div>
                 </nav>